<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalcLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D0CEC631DEE6B3E0022E584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D0CEC771DEE6B3F0022E584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D0CEC821DEE6B3F0022E584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
